streamlit
pandas
google-generativeai
Pillow
xlsxwriter
opencv-python==4.8.0.74   # Revert back to your initially specified OpenCV version
numpy==1.26.4           # Use NumPy 1.26.4 (compatible with OpenCV 4.8 and below 2.0)
pyttsx3
